body{
    font-family: 'Audiowide', cursive;
    margin: 0;
    padding: 0;
    background: url(photo-mountain-road.JPG) no-repeat;
    background-size: cover;
}
.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #24252a;
    opacity: 0.8;
    width: 410px;
    padding: 42px;
    border-radius: 12px;
    box-sizing: border-box;
    box-shadow: 0 16px 28px 16px rgba(0, 0, 0, 0.5);
}
.box h1{
    text-align: center;
    color: antiquewhite;
    margin-bottom: 12px;
    padding: 0;
}
.box .input-box{
    position: relative;
}
.box .input-box input{
    padding: 12px 0;
    width: 100%;
    color: antiquewhite;
    font-size: 16px;
    outline: none;
    border: none;
    border-bottom: 1px solid snow;
    margin-bottom: 30px;
    letter-spacing: 1px;
    background: transparent;
}
.box .input-box label{
    position: absolute;
    top: 0;
    left: 0;
    font-size: 16px;
    color: antiquewhite;
    pointer-events: none;
    padding: 12px 0;
    transition: 0.6s;
}
.box .input-box input:focus~label,
.box .input-box input:valid~label{
    top:-22px;
    color: #2ecc71;
    font-size: 16px;
    left: 0;
}
.box input[type="submit"]{
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
    color: antiquewhite;
    background: #2ecc71;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 4px;
}